@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif, Helvetica;
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    padding: 0px 15px;
}